/* noto serif font  and inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.noto-primary{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-weight: bold;
}
 

/* nav */
.nav-section{margin-bottom: 150px;margin-top: 20px;max-width: 1140px;}
.nav-container{margin-right: 150px;margin-left: 150px;}
.nav-logo img{margin: 0 auto; margin-top: -10px;}

.home{color: rgba(37, 36, 50, 1);font-size: 1em;}
.shop ,.about{color: rgba(137, 135, 161, 1);font-size: 1em;font-weight: normal;}
.cart{font-weight: normal;font-size: 1em;}
/* hero */
.hero-section{margin:0px 150px 150px 150px;}
.hero-details{max-width: 500px;}

.hero-container{max-width: 1140px;margin:0 auto;}

.hero-header{font-size: 3em;font-weight: bold;}
#orange-color{color: rgba(233, 90, 8, 1);}
.hero-para{font: size 1em;;font-weight: normal;color: rgba(0,0,0,0.5);}
.hero-img{max-width:500px}

/* our-plants section */
.our-plants{margin: 0px 150px;max-width: 1140px;}
.plant-heading{text-align: center;font-size: 2.5em;font-weight: 600;}
.plants-para{font: size 1em;;font-weight: normal;color: rgba(0,0,0,0.5);text-align: center;max-width: 650px;margin: 0 auto;padding-top: 15px;padding-bottom: 40px;}
.plants-card{max-width: 270px;}
.card-interheader{margin-bottom: 10px;}
.card-btn{width:100% ;background-color:  rgba(233, 90, 8, 1);color: white;font-size:12px;padding: 10px 60px;}
.cards-container{gap:20px ;}
/* .flower and plants lover */
.flower-plantlover{margin: 50px 150px 100px 150px;}
/* .flowerlover-img{max-width:540px;max-height: 400px;} */

/* .folowerlover-details{max-width: 400px;max-height: 400px;} */
.flower-container{max-width: 1140px;max-height: 400px;gap:100px;}
.flower-container>*{flex: 1;}
.flowerlover-list{list-style-type: disc;font-size: 16px;font-weight: normal;color: rgba(0,0,0,0.5);}
.flowerlover-heading ,#f2-heding{font-size: 40px;font-weight: bold;}
.flowerlover-heading{width: 400px;}
.folowerlover-details li{padding: 5px;}
.flower-loverimg{height: 100%;padding-top: -80px;min-width: 350px;}
.star-img{height: 220px;width: 220px;position: relative;top:-500px;left: 230px;}

/* latest deal */
.latest-plan{margin: 50px 150px 100px 150px;}
.latest-plancontainer{max-width: 1140px;display: flex;gap: 25px;justify-content: space-between;}
.first-plan{display: flex;flex-direction:column;gap:20px}
.pic1-plan{background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./flower-picture/deal-bloom.png); width: 367px;height: 201px;border-radius: 22px;display: flex;flex-direction: column;align-items: center;justify-content: center;}

.pic2-plan{background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./flower-picture/deal-ana.png);width: 367px;height: 201px;background-size: cover;border-radius: 22px;display: flex;flex-direction: column;align-items: center;justify-content: center;
  }
.second-plan{background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./flower-picture/deal-zabo.png);width:753px;height: auto; height: 422px;background-size: cover;border-radius:22px;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.pic1-title{color:#fff;font-size: 20px;font-weight: bolder;}
.plan-button{color: #fff;font-size: 16px;font-weight: bolder;border-bottom: 2px solid white;}
.pic2-button , .pic2-title{font-size: 23px;font-weight: bold;}


/* submit section */

.join-section{background-image:url(./flower-picture/news-letter-bg.png);height: 433px;}

.join-heading {font-size: 32px;color:white;margin-bottom: 25px;text-align: center;font-weight: bold;}
.form-joinsection {
  display: flex;flex-direction: row;justify-content: center;gap: 10px;flex-wrap: wrap;}
.email-type {
  padding: 12px;font-size: 16px;border: 2px solid #ff6f61;border-radius: 6px;
  width: 60%;min-width: 200px;background-color: #fff;}
.submit-button {padding: 12px 20px;font-size: 16px;background-color: #ff6f61;color: white;border: none;border-radius: 6px;cursor: pointer;transition: background-color 0.3s ease;}
.jo-container {margin: 0 auto;padding: 40px; border-radius: 12px;text-align: center;  
padding-top: 180px;}
.submit-button:hover {
  background-color: #e85c50;}

  /* footer */

 .footer{ margin: 30px 150px 30px 150px;padding-top: 30px;}
 .footer-content{display:flex;flex-wrap:wrap;justify-content:space-between;max-width:1140px;margin:auto;gap: 50px;align-items: center;}
 .ftr-links{display: flex;gap: 20px;}
 .footer-content>*{flex: 1;}
 .footer-para1{margin-bottom:20px}
 .ftr-logo{width:80px;height:auto}
 .ftr-motto{font-size:17px;color:#6B7280;font-weight:normal;margin-top: 10px;}
 .ftr-links{display: flex;flex-direction:row;gap: 50px;align-items: center;}
 .ftr-links{list-style:none;padding:0;}
 .ftr-links li{margin-bottom:12px;font-size: 13px;}
 .ftr-links a{text-decoration:none;color:#6B7280;transition:color 0.3s ease}
 .ftr-links a:hover{color:#e67e22}
 .footer-socialicon{display: flex;gap: 40px;}
 .footer-socialicon img{width:24px;height:24px;transition:transform 0.3s ease}
 .footer-socialicon img:hover{border:2px solid #c6c2bf; border-radius: 50%;transition: all 0.4s ease; }







/* responsive design */
@media screen and (max-width: 600px) {
  .nav-container{margin: 0px 50px 50px 50px;width:auto;}
  
  
    .about,.home,.shop{display: none;}
    .hero-container{flex-direction: column-reverse;margin-bottom: 80px;}
    .hero-section{margin: 0px;}
    .hero-img {width: 100%;height: min-content;}
    .hero-details{margin-left: 55px;margin-top: 30px;margin-right: 55px;}
    .hero-para{padding-top: 10px;}
    .hero-header{font-size: 2.5em;}
    .cards-container{grid-template-columns: repeat(2,1fr)}
    .our-plants{margin: 0 auto;margin: 10px 55px;margin-bottom: 0px;}
    .flower-container{flex-direction: column;}
    .flower-loverimg{width: 90%;height:min-content;margin: 0px;padding: 0px;}
    .folowerlover-details{margin-left: 55px;margin-top: 0px;margin-right: 55px;padding-bottom: 70px;}
    .flowerlover-list{padding-left: 20px;}
    .flower-plantlover{margin: 0px 0px 30px 0px;}
    .latest-plancontainer{flex-direction: column;align-items: center;}
    .second-plan{width: 367px;height: 201px;background-size: cover;}
    .latest-plan{margin-left: 55px;margin-top: 700px;margin-right: 55px;}
    .footer {margin: 20px;padding-top: 20px;}
 .footer-content {flex-direction: column;align-items: flex-start;gap: 30px;}
 .ftr-links {flex-direction: column;gap: 10px;align-items: flex-start;}
.footer-socialicon {gap: 20px;justify-content: flex-start;}
.ftr-motto {font-size: 15px;}
.ftr-links li {font-size: 14px;}
.star-img{display: none;}

    
}
/* for tab or mini laptop */
@media screen and (min-width:601px) and (max-width: 1030px) {.nav-container{margin-left: 150px auto;margin-right: 150px auto;}
.hero-img{width: auto;}
.hero-section{margin:0px 10px}
.about,.home,.shop{display: none;}
.hero-container{flex-direction: column;margin-bottom: 80px;max-width:fit-content;}
 .cards-container{grid-template-columns: repeat(2,1fr);align-content: center;justify-content: space-between;}
 .flower-container{flex-direction:;margin-bottom: 80px;margin-right: 0px;gap: 50px;}
 .flower-plantlover{margin: 0px 10px;}
 .flower-loverimg{min-width: 250px;max-width: 350px;}
 .flower-container>*{flex: 1;}
 .folowerlover-details{min-width:250px;}
 .flowerlover-heading , #f2-heding{max-width:280px;margin: 0px;padding: 0px;font-size: 28px;}
 .flowerlover-heading{width:250px;}
 .flowerlover-list li{padding: 0px;font-size: 15px;}
 .latest-plancontainer{flex-direction: column;align-items: center;}
.pic2-plan,.pic1-plan ,.second-plan{width: 450px;height: 250px;background-size: cover;}
.latest-plan{margin-left: 55px;margin-top: 50px;margin-right: 55px;}
.star-img{display: none;}
.footer {margin: 30px 40px;padding-top: 25px;}
.footer-content {gap: 40px;flex-wrap: wrap;}
.ftr-links {flex-direction: row;gap: 30px;justify-content: flex-start;}
.footer-socialicon {gap: 30px;justify-content: flex-start;}
.ftr-motto {font-size: 16px;}
.ftr-links li {font-size: 13px;}
 
}

